@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

$font-family-base: $font-family-monospace;
$dropdown-link-color: $dark;

.dropdown-item:active {
  background-color: $light;
}

.navbar-dark .dropdown-menu .dropdown-item .nav-link,
.navbar-dark .dropdown-menu .dropdown-item .nav-link:hover,
.navbar-dark .dropdown-menu .dropdown-item .nav-link:focus {
  color: $dark;
}

html {
  font-size: 14px;
}

@import "~bootstrap/scss/bootstrap.scss";
