@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
    position: relative;
}

.label:before {
    content: "🔍";
    position: absolute;
    font-size: 1.2rem;
    left: 0.5rem;
    top: -5px;
    bottom: 0;
}
