.header {
  line-height: 3rem;
}

.header nav {
  max-width: 70em;
  margin: 0 auto 2em auto;
  border-bottom: 1px dotted #666;
  clear: both;
}

.header a {
  color: #555;
  font-weight: 700;
}

.header a:hover {
  color: #000;
}
